@use "@/styles/vars" as *;

.container {
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}

.headlineWrap {
  display: flex;
  flex-direction: column;
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: $five-twelfths;
  @include lap-smaller {
    width: 80%;
  }
  @include x-small {
    padding-left: 10px;
    width: calc(100% - 40px);
  }
}

.sectionTitle {
  h2 {
    @include eyebrow;
    margin: 0;
    padding: 10px;
    padding-bottom: 0px;
    @include tablet-and-lower {
      margin-top: 10px;
      padding: 0 0 10px 0;
    }
  }
}

.headline {
  h2 {
    @include h1;
    line-height: 1.1;
  }
  margin: 0;
  text-align: left;
  padding: 10px;

  sup {
    font-size: 20px;
    padding: 0px !important;
    margin: 0px !important;
  }
  @include tablet-and-lower {
    padding: 0;
  }
}

.copy {
  @include body1;
  bottom: -5px;
  height: auto;
  left: 0;
  position: absolute;
  width: $three-twelfths;

  @include lap-smaller {
    width: $five-twelfths;
  }
  @include x-small {
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: calc(100% - 40px);
  }
}

.scaleWrap {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.mediaWCaption {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.stumpyWrap {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: auto;
  position: absolute;
  right: 0;
  top: 60%;
  width: $three-twelfths;
  @include lap-smaller {
    width: $four-twelfths;
  }
  @include tablet-and-lower {
    width: $five-twelfths;
  }
  @include x-small {
    left: 0;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
}

.stumpy {
  height: auto;
  opacity: 0;
  transform: scale(0);
  width: 100px;
}

.stumpyText {
  @include body2;
  width: calc(100% - 100px);

  @include phone {
    width: 100%;
    padding: 10px;
  }
}
