@use "@/styles/vars" as *;

.tabPanel {
  width: 100%;
  height: 100%;
  position: relative;
}

.title {
  font-size: 4rem;
  margin: 0;
  text-align: left;

  position: relative;
  top: 40px;
  left: 40px;
  width: 80%;
  height: auto;
  z-index: 1;
}

.mediaWCaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
