@use "@/styles/vars" as *;

.container {
  width: 100%;
  height: 100%;
  position: relative;
  @include full;
}

.title {
  @include h1;
  margin: 0;
  text-align: left;

  position: relative;
  top: 20px;
  left: 20px;
  width: 80%;
  height: auto;
  z-index: 1;
  @include five-twelfths;

  @include lap-smaller {
    position: relative;
    @include full;
    width: 100%;
    left: 0;

    top: 0;

    padding: 10px;
  }
}

.mediaWCaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
