@use "@/styles/vars" as *;

.container {
  @include grid-wrap;
  background: $forest;
  height: 100%;
  position: relative;
  padding: 0;
  width: 100%;
  @include phone {
    display: grid;
    grid-template-rows: 1fr 2fr;
    height: 100%;
    padding: 0px;
  }
  @include x-small {
    grid-template-rows: 1fr 1fr;
  }
}

.column {
  &:first-of-type {
    @include six-twelfths;
    height: 100%;
    position: relative;
    background: $forest;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    @include widescreen {
      @include five-twelfths;
    }
    @media (max-width: 1200px) {
      background-color: transparent;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    @include phone {
      @include full;
      grid-row: 1;
      height: auto;
      min-height: 0;
      width: calc(100% - 60px);
    }
    @include x-small {
      width: 100%;
    }
  }

  &:last-of-type {
    @include six-twelfths;
    height: 100%;
    position: relative;
    padding-left: 20px;

    @include widescreen {
      @include seven-twelfths;
    }
    @media (max-width: 1200px) {
      grid-column: 1 / 13;
      z-index: 0;
    }

    @include phone {
      padding: 0px;
      @include full;
      height: auto;
      grid-row: 2;
      min-height: 0;
    }
  }
}

.sectionTitle {
  h2 {
    @include eyebrow;
    margin: 0;
    padding: 10px;
    padding-bottom: 0px;
  }
}

.headline {
  h2 {
    @include h1;
  }

  margin: 0;
  text-align: left;
  padding: 10px;

  sup {
    font-size: 20px;
    padding: 0px !important;
    margin: 0px !important;
  }
}

.copy {
  @include body2;
  width: $three-twelfths;
  height: auto;
  @media (max-width: 1200px) {
    width: $four-twelfths;
  }
  @include phone {
    position: absolute;
    width: $seven-twelfths;
    top: 0;
    left: 0;
    padding: 10px;
  }
  @include x-small {
    width: $eleven-twelfths;
  }
}

.scaleWrap {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.mediaWCaption {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stumpyWrap {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: auto;
  position: absolute;
  right: 0;
  top: 10%;
  width: 45%;
  @media (max-width: 1200px) {
    width: 50%;
    top: 50%;
  }

  @include phone {
    right: 5%;
    top: -70px;
  }
  @include x-small {
    width: 70%;
  }
}

.stumpy {
  width: 100px;
  height: auto;
  [data-type="eyes-wrap"] {
    left: 16%;
    width: 40%;
  }
}

.stumpyText {
  width: calc(100% - 100px);
  @include body1;

  @media (max-width: 1200px) {
    width: 100%;
  }
}
