@use "@/styles/vars" as *;

.eventWrap {
  
  &.slider {
    min-width: calc((100% - 2rem) / 3);
    max-width: calc((100% - 2rem) / 3);
  
    @include lap-smaller {
      min-width: calc((100% - 1rem) / 2);
      max-width: calc((100% - 1rem) / 2);
    }
    @include x-small {
      min-width: 100%;
    }
  
    &.secondary {
      min-width: 100%;
      max-width: 100%;
    }
  }
}

.eventDate {
  @include eyebrow;
  &{ 
    border: 4px solid $forest;
    color: $forest;
    display: inline-block;
    font-family: $font-greed-narrow;
    margin-bottom: -4px;
    padding: 10px;
    text-transform: uppercase;
    width: auto;
  }
  
  &.selfHosted {
    border: 4px solid $orange;
  }
}



.eventInfo {
  background: $forest;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  min-height: 190px;
  padding: 20px;

  h3 {
    @include h3;
    &{
      color: $cream;
      line-height: 1;
      margin-bottom: 8px;
      margin-top: 0;
      padding-bottom: 0px;
    }
  }

  p {
    @include eyebrow;
    & {
      color: $orange;
      line-height: 1;
      margin: 0px;
      padding: 0px;
      text-transform: uppercase;
    }
  }

  &.selfHosted {
    width: 100%;
    background: $orange;

    h3 {
      color: $forest;
    }

    p {
      color: $forest;
    }
  }

  a {
    width: fit-content; // Changed from 'auto' to 'fit-content'
    display: inline-flex;
    align-self: flex-start;
  }

  @include lap-smaller {
    min-height: 200px;
  }
}

.slider {
  .eventInfo {
    min-height: 290px;
    .eventInfoInner {
      min-height: 0;
    }
  }
}