@use "@/styles/vars" as *;

.eventWrap {
  min-width: calc((100% - 2rem) / 3);
  max-width: calc((100% - 2rem) / 3);

  @include lap-smaller {
    min-width: calc((100% - 1rem) / 2);
    max-width: calc((100% - 1rem) / 2);
  }

  &.secondary {
    min-width: 100%;
    max-width: 100%;
  }
}

.eventDate {
  @include h4;
  border: 4px solid $orange;
  padding: 10px;
  color: $forest;
  width: auto;
  display: inline-block;
  margin-bottom: -4px;

  &.selfHosted {
    border: 4px solid $forest;
  }
}

.eventInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 280px;

  background: $orange;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    @include h3;
    color: $forest;
    padding-bottom: 0px;
    margin-bottom: 8px;
    line-height: 1;
    text-transform: uppercase;
  }

  p {
    @include p;
    color: $forest;
    text-transform: uppercase;
    line-height: 1;
    margin: 0px;
    padding: 0px;
  }

  &.selfHosted {
    width: 100%;
    background: $forest;

    h3 {
      color: $cream;
    }

    p {
      color: $orange;
    }
  }

  a {
    width: fit-content; // Changed from 'auto' to 'fit-content'
    display: inline-flex;
    align-self: flex-start;
  }
}
