@use "@/styles/vars" as *;

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0px 60px 0px 30px;
  border-radius: 30px;
  font-family: var(--font-greed-standard);
  font-size: 30px;
  height: 50px;
  border: 4px solid transparent;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  text-transform: uppercase;
  clip-path: inset(0 0 0 0 round 30px);

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
  }

  &::before {
    content: "";
    position: absolute;
    inset: -4px;
    border-radius: inherit;
    background-color: var(--hover-bg-color, transparent);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }

  .text {
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;
  }

  @include tablet-and-lower {
    font-size: 24px;
    height: 40px;
    padding: 0px 40px 0px 20px;
  }

  @include phone {
    border-width: 2px;
    font-size: 20px;
    height: 33px;
    padding: 0px 50px 0px 15px;
  }
}

// Primary styles
.primary {
  justify-content: flex-start;

  .circle {
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--circle-bg);
    transition: background-color 0.3s ease;

    @include tablet-and-lower {
      right: -4px;
      width: 48px;
      height: 48px;
      svg {
        width: 20px;
        height: 20px;
      }
    }

    @include phone {
      right: -2px;
      width: 37px;
      height: 37px;
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  &.forest {
    &:not(.fill) {
      border-color: $forest;
      color: $forest;
      --hover-bg-color: #{$forest};

      &:hover .text {
        color: $cream;
      }

      .circle {
        --circle-bg: #{$forest};
        svg path {
          fill: $orange;
        }
      }

      svg path {
        fill: $cream;
      }
    }

    &.fill {
      background-color: $cream;
      border-color: $forest;
      color: $forest;
      --hover-bg-color: #{$forest};

      &:hover .text {
        color: $cream;
      }

      .circle {
        --circle-bg: #{$forest};
      }

      svg path {
        fill: $cream;
      }
    }
  }

  &.orange {
    &:not(.fill) {
      border-color: $orange;
      color: $cream;
      --hover-bg-color: #{$orange};

      &:hover .text {
        color: $forest;
      }

      .circle {
        --circle-bg: #{$orange};
      }

      svg path {
        fill: $forest;
      }
    }

    &.fill {
      background-color: $cream;
      border-color: $orange;
      color: $forest;
      --hover-bg-color: #{$orange};

      &:hover .text {
        color: $forest;
      }

      .circle {
        --circle-bg: #{$orange};
      }

      svg path {
        fill: $forest;
      }
    }
  }
}

.large {
  border-radius: 62px;
  clip-path: inset(0 0 0 0 round 62px);
  font-size: 30px;
  height: 60px;
  padding: 10px 160px 10px 30px;
  .circle {
    right: -4px;
    height: 138px;
    width: 138px;
    border-radius: 50%;
    svg {
      width: 52px;
      height: 52px;
    }
  }
  @include small {
    font-size: 20px;
    height: 50px;
    padding: 10px 160px 10px 30px;
  }
  @include x-small {
    height: auto;
  }
  @include medium {
    padding-right: 130px;
    .circle {
      height: 100px;
      right: -3px;
      width: 100px;
      svg {
        width: 46px;
        height: 46px;
      }
    }
  }
  @include lap-small {
    padding-right: 90px;
    .circle {
      height: 80px;
      right: -3px;
      width: 80px;
      svg {
        width: 36px;
        height: 36px;
      }
    }
  }
  @include tablet-and-lower {
    padding-right: 90px;
    .circle {
      height: 60px;
      right: -3px;
      width: 60px;
      svg {
        width: 26px;
        height: 26px;
      }
    }
  }
}

// Secondary styles
.secondary {
  justify-content: center;
  padding: 0px 30px;
  &.small {
    border-width: 3px;
    font-size: 20px;
    height: 35px;
    padding: 0 15px;
  }
  &.forest {
    &:not(.fill) {
      border-color: $forest;
      color: $forest;
    }

    &.fill {
      background-color: $forest;
      border-color: $forest;
      color: $orange;
    }
  }

  &.orange {
    &:not(.fill) {
      background-color: $cream;
      border-color: $orange;
      color: $forest;
      &::before {
        background-color: $orange;
      }
    }

    &.fill {
      background-color: $orange;
      border-color: $orange;
      color: $forest;
      &::before {
       
        background-color: $forest;

      }
      &:hover {
        .text {
          color: $cream;
        }
      }
    }
  }
}

// Hover effect
.button:hover::before {
  transform: scaleX(1);
}

.arrow {
  margin-left: 0.5em;
  transition: transform 0.2s ease;
}

// Hover effect for links
a.button:hover .arrow {
  transform: translateX(4px);
}
