@use "@/styles/vars" as *;

.eventsPageWrap {
  position: relative;
  @include grid-wrap;

  padding-top: 100px;
  margin-bottom: 100px;
}

.hideSm {
  @include x-small {
    display: none;
  }
}

.topWrap {
  width: $eight-twelfths;
  position: relative;
  margin-bottom: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  @include full;

  @include lap-smaller {
    margin-top: 100px;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 10px;
  }
 
}

.eventsTitle {
  @include h1;
}

.eventDesc {
  @include body1;
  max-width: 600px;
  color: $forest;

  @include lap-smaller {
    max-width: 100%;
    margin-bottom: 60px;
  }
  .key {
    align-items: center;
    display: flex;
    flex-flow: row;
    text-transform: uppercase;
    .circle {
      background-color: $orange;
      height: 30px;
      margin-right: 10px;
      width: 50px;
    }
  }
}

.filterButtons {
  display: flex;
  gap: $one-twelfth;
  margin-top: 20px;

  @include lap-smaller {
    margin-top: 0px;
    gap: 10px;
  }
}

.filterWrap {
  @include full;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  @include lap-smaller {
    margin-bottom: 40px;
  }
}

.eventsGrid {
  @include full;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  width: 100%;
  margin: 0 auto;

  @include lap-smaller {
    grid-template-columns: 1fr;
  }
}
