@use "@/styles/vars" as *;

.eventsPageWrap {
  position: relative;
  padding: 100px 60px;
}

.topWrap {
  width: 100%;
  position: relative;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.eventsTitle {
  @include h2;
}

.eventDesc {
  @include body1;
  max-width: 600px;
  text-align: center;
  color: $forest;
}

.filterButtons {
  display: flex;
  gap: 20px;
  margin-top: 20px;

  button {
    @include body1;
    background: none;
    border: 4px solid $orange;
    padding: 12px 24px;
    color: $forest;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: $orange;
    }
  }
}

.eventsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  width: 100%;
  margin: 0 auto;

  @include lap-smaller {
    grid-template-columns: 1fr;
  }
}
