@use "@/styles/vars" as *;

.eventsPageWrap {
  @include grid-wrap;
  &{
    margin-bottom: 100px;
    position: relative;
    padding-top: 100px;
  }
}

.hideSm {
  @include x-small {
    display: none;
  }
}

.topWrap {
  align-items: flex-start;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
  width: $eight-twelfths;
  position: relative;
  @include full;

  @include lap-smaller {
    gap: 10px;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 100px;
    width: 100%;
  }
 
}

.eventsTitle {
  background-color: $orange;
  margin: 0;
  padding: 0 15px;
  @include h1;
}

.eventDesc {
  @include body1;
  & {
    color: $forest;
    max-width: 600px;
  }
  @include lap-smaller {
    max-width: 100%;
    margin-bottom: 60px;
  }
  .key {
    align-items: center;
    display: flex;
    flex-flow: row;
    margin-top: 30px;
    text-transform: uppercase;
    .circle {
      background-color: $orange;
      height: 30px;
      margin-right: 10px;
      width: 50px;
    }
  }
  p {
    margin: 0;
  }
}

.filterButtons {
  display: flex;
  gap: $one-twelfth;
  margin-top: 20px;

  @include lap-smaller {
    margin-top: 0px;
    gap: 10px;
  }
}

.filterWrap {
  @include full;
  & {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }


  @include lap-smaller {
    margin-bottom: 40px;
  }
}

.eventsGrid {
  @include full;
  & { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 100%;
    margin: 0 auto;
  }

  @include lap-smaller {
    grid-template-columns: 1fr;
  }
}
