@use "@/styles/vars" as *;

.container {
  @include grid-wrap;
  &{
    background: $cream;
    grid-template-rows: auto 1fr;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    z-index: 1;
  }
 
  @include tablet-and-lower {
    padding-top: 70px;
    padding-bottom: 20px;
  }

  @include phone {
    padding-top: 60px;
    padding-bottom: 10px;
  }
}

.tabNav {
  @include full;
  &{
    background: $cream;
    color: $forest;
    display: flex;
    grid-row: 1;
    height: auto;
    position: relative;
    z-index: 2;
  }


  button {
    align-items: center;
    border-left: 2px solid $orange;
    border-right: 2px solid $orange;
    border-top: 4px solid $orange;
    border-bottom: none;
    background: none;
    cursor: pointer;
    color: $forest;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    @include x-small {
      padding-left: 0.7rem; 
      padding-right: 0.7rem; 
    }
    &:first-of-type {
      border-left: 4px solid $orange;
    }

    &:last-of-type {
      border-right: 4px solid $orange;
    }

 

    span {
      display: inline-block;
      @include h3;
    }

    .buttonText {
      display: none;
    }
  }
}

.tabContent {
  height: 100%;
  position: relative;
  border: 4px solid $orange;
  overflow: hidden;
  @include full;
  &{
    grid-row: 2;
  }
}

.navContainer {
  height: auto;
  overflow: hidden;
  position: relative;
  pointer-events: auto;
  width: 100%;
}

.navModule {
  height: 100%;
  left: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.navContent {
  height: 100%;
  position: relative;
  width: 100%;
}
