@use "@/styles/vars" as *;

.eventsHomeWrap {
  position: relative;
  padding: 100px 60px;
}

.topWrap {
  width: 100%;
  position: relative;
  a {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.sliderContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;

  margin: 100px 0px;
}

.eventsTitle {
  @include h2;
}

.sliderWrapper {
  overflow: hidden;
  flex: 1;
}

.sliderTrack {
  display: flex;
  gap: 1rem;
}

.navWrap {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 30px auto;
  width: 300px;
}

.navDivider {
  width: 200px;
  height: 4px;
  background: $orange;
}

.navButton {
  padding: 0.5rem 1rem;

  border: none;
  background: $orange;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:first-of-type {
    transform: rotate(180deg);
  }

  svg {
    path {
      fill: $forest;
    }
  }

  transition: all 0.3s ease;

  &:hover {
    background: $forest;

    svg {
      path {
        fill: $orange;
      }
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
