@use "@/styles/vars" as *;

.tabPanel {
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  background: $cream;
  opacity: 0;
  z-index: 0;
  filter: blur(10px);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}
