@use "@/styles/vars" as *;

.orange {
  --bg-color: #{$orange};
  color: $forest;
}

.cream {
  --bg-color: #{$cream};
  color: $black;
}

.forest {
  --bg-color: #{$forest};
  color: $white;
}

.container {
  display: inline-block;
  * {
    margin: 0;
    padding: 0;
  }

  sup {
    display: inline-block;
    cursor: pointer;
    color: inherit;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

.text {
  position: relative;
  display: block;
  font-size: inherit;
  line-height: 1.1;

  @include lap-smaller {
    &.block {
      background-color: var(--bg-color, #000);
    }
    span {
      background-color: var(--bg-color, #000);
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      line-height: 120%;
      padding: 1px 15px;
    }
  }

  sup {
    font-size: 0.5em;
    line-height: 0.5em;
  }
}

.lineWrapper {
  overflow: hidden;
  position: relative;
  display: block;
  font-size: inherit;
  line-height: 1.1;
  will-change: transform;

  &.inline {
    display: inline-block;
    vertical-align: top;
  }
}

.lineBackground {
  position: absolute;
  inset: 0;
  background-color: var(--bg-color, #000);
  transform-origin: bottom;
  will-change: transform;
}

.line {
  display: block;
  font-size: inherit;
  line-height: inherit;
  padding: 1px 15px;
  position: relative;
  transform: translateY(0);
  will-change: transform;
  z-index: 1;
  @include x-small {
    padding: 1px 7px;
  }
}

.text.stumpy .line {
  padding: 0px 10px;
}

.text.stumpy {
  .lineWrapper {
    &:first-child {
      .line {
        padding-top: 7px;
      }
    }
    &:last-child {
      .line {
        padding-bottom: 7px;
      }
    }
  }
}

.citation {
  cursor: pointer;
  display: inline;
  position: relative;
  font-size: 0.75em;
  vertical-align: super;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.7;
  }
}

.line {
  sup {
    display: inline !important;
  }
}
