@use "../../styles/vars" as *;

.imageSliderSection {
  position: relative;
  width: 100%;
  .imageContainer {
    width: 100%;
  
  }
  padding: 60px 0 0;
  @include small {
    padding: 50px 0px 0;
  }
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  min-height: 100%;
  
  .textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    opacity: 0;
    position: absolute;
    transition: opacity 0.25s ease-in-out;
    bottom: 0;
    top: 0;
    left: 60px;
    right: 60px;
    z-index: 100;
    @include h1();
    &.hasLink {
      top: 60px;
    }
    @include small {
      font-size: 35pt;
    }
    @include tablet-and-lower {
      font-size: 30pt;
      left: 30px;
      right: 30px;
    }
    @include x-small {
      font-size: 20pt;
      left: 10px;
      right: 10px;
    }
    .headline {
      color: $black;
      span {
        background-color: $orange;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        display: inline;
        line-height: 5.5rem;
        padding: 10px 20px 5px!important;
        @include small {
          line-height: 3.5rem;
          padding: 5px 10px 5px!important;
        }
        @include tablet-and-lower {
          line-height: 3rem;
        }
        @include x-small {
          line-height: 2.5rem;
        }
      }
    }
    .buttonContainer {
      margin-top: 30px;
    }
  }
}

.sliderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0 15px;
  padding-bottom: 56.25%;
  @include tablet-and-lower {
    min-height: 70vw;
  }
  @include x-small {
    min-height: 90vw;
  }
}

.slideItem {
  position: absolute;
  top: 0;
  width: 50vw;
  height: 50vw;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  visibility: visible;
  @include tablet-and-lower {
    width: 60vw;
    height: 60vw;
  }
  @include x-small {
    width: 80vw;
    height: 80vw;
  }
  .imageOverlay {
    border-radius: 50%;
    background-color: #ff752a;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
  }
  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  &.active {
    .imageContainer {
      .textContainer {
        opacity: 1;
      }
    }
    .imageOverlay {
      opacity: 0;
    }
    img {
      -webkit-filter: none; /* Safari 6.0 - 9.0 */
      filter: none;
    }
  }
 
 
 
}

.button {
  z-index: 10;
  position: absolute;
  top: 85%;
  border: none;
  background: none;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  &:disabled {
    opacity: 0.5;
  }

  
}



.prevButton {
  height: 70px;
  width: 70px;
  left: 30px;
  @include small {
    height: 60px;
    width: 60px;
  }
  @include x-small {
    left: 10px;
    height: 50px;
    width: 50px;
  }
}

.nextButton {
  height: 70px;
  width: 70px;
  right: 30px;
  @include small {
    height: 60px;
    width: 60px;
  }
  @include x-small {
    right: 10px;
    height: 50px;
    width: 50px;
  }
}

.controls {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  .active {
    .dotInner {
      opacity: 1;
    }
  }

  .dotInner {
    background-color: $orange;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    opacity: 0.5;
    transition: all 0.3s linear;
  }

  @include small {
    bottom: 10px;
   
  }
}

.arrow {
  .st0 {
    fill: #34351a;
  }

  .st1 {
    fill: #f47530;
  }
}