@use "@/styles/vars" as *;

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  @include grid-wrap;
  @include full;
  padding-top: 80px;
}

.logoWrapper,
.taglineWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;

  svg {
    width: 100%;
    height: auto;
  }
}

.content {
  @include full;
}

.logoWrapper {
  opacity: 0;
  transform: translateY(-100%);
}

.taglineWrapper {
  opacity: 0;
  margin-top: 2rem;
  transform: translateY(80px);
}

.splitTextWrapper {
  max-width: 1230px;
  margin: 0 auto;
  text-align: center;
  color: $forest;
  i {
    font-family: "font-greed-narrow", sans-serif;
    font-size: 55px;
    font-weight: 600;
  }
  p {
    font-size: 50px;
  }

  @include tablet-and-lower {
    p {
      font-size: 40px;
    }
    i {
      font-size: 40px;
    }
    max-width: 800px;
  }

  @include phone {
    max-width: 400px;
    font-size: 30px;
    p {
      font-size: 30px;
    }
    i {
      font-size: 30px;
    }
  }
}

.maskContainer {
  position: absolute;
  top: 80px;
  left: 0;
  width: calc(100% - 100px);
  height: calc(100% - 80px);
  transform: translate(50px, 50px);
  z-index: 1;
  clip-path: circle(0% at 50% 100%);
  opacity: 0;

  @include tablet-and-lower {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    transform: translate(25px, 25px);
  }

  @include phone {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    transform: translate(10px, 10px);
  }
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.mediaWCaption {
  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.5);
}

.eyeballs {
  position: relative;
  width: 100%;
  height: 100%;
}

.splitTextWrapper2 {
  text-align: left;
  max-width: 890px;
  p {
    @include h1;
  }
}

.eyeball1 {
  left: 10%;
  top: 15%;
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translateY(-50%);
  opacity: 0;

  @include tablet-and-lower {
    width: 80px;
    height: 80px;
  }

  @include phone {
    width: 60px;
    height: 60px;
  }
}

.eyeball2 {
  right: 10%;
  top: 10%;
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translateY(-50%);
  opacity: 0;

  @include tablet-and-lower {
    width: 80px;
    height: 80px;
  }

  @include phone {
    width: 60px;
    height: 60px;
  }
}

.eyeball3 {
  left: 15%;
  bottom: 10%;
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translateY(-50%);
  opacity: 0;

  @include tablet-and-lower {
    width: 80px;
    height: 80px;
  }

  @include phone {
    width: 60px;
    height: 60px;
  }
}

.eyeball4 {
  right: 15%;
  bottom: 18%;
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translateY(-50%);
  opacity: 0;

  @include tablet-and-lower {
    width: 80px;
    height: 80px;
  }

  @include phone {
    width: 60px;
    height: 60px;
  }
}

.eyeball5 {
  left: 75%;
  top: 35%;
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translateY(-50%);
  opacity: 0;

  @include tablet-and-lower {
    width: 80px;
    height: 80px;
  }

  @include phone {
    width: 60px;
    height: 60px;
  }
}

.fireTrim {
  z-index: 2;
  position: absolute;
  top: 120px;
  left: 0;
  width: calc(100% - 100px);
  transform: translate(50px, 100%);
  height: calc(100% - 120px);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include tablet-and-lower {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    transform: translate(25px, 25px);
  }

  @include phone {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    transform: translate(10px, 10px);
  }
}
