@use "@/styles/vars" as *;

.takeActionSection {
    padding: 100px 0px;
  @include lap-smaller {
    padding: 50px 0px;
  }
  @include phone {
    padding: 20px 0px;
  }
  .bar {
    background: $orange;
    color: $forest;
    display: flex;
    overflow: hidden;
    padding: 20px 60px;
    @include lap-smaller {
      padding: 20px;
    }
    @include phone {
      padding: 20px 10px;
    }
    .headline {
        width: $six-twelfths;
    }
    h1 {
        @include h1();
    }
    .textWrap {
        @include body1;
    }
  }
 
}