@use "@/styles/vars" as *;

.container {
  padding: 80px 60px;
  @include lap-smaller {
    padding: 60px 20px 80px 20px;
  }
  @include phone {
    padding: 60px 10px 80px 10px;
  }
}

.titleWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  @include x-small {
    flex-flow: column;
    align-items: flex-start;
  }
  h2 {
    @include h1;
  }

  @include lap-smaller {
    margin-bottom: 1rem;
  }
  .body {
    @include body2;
    & {
      margin-right: $one-twelfth;
      width: $five-twelfths;
    }
    @include x-small {
      margin-top: 10px;
      width: $eleven-twelfths;
      p {
        padding-left: 0;
        padding-top: 0; 
      }
    }
  }
}

.partnersList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;

  @include lap-smaller {
    gap: 0;
  }
}

.partnerItem {
  @include h3;
  padding: 1rem 0;
  border-bottom: 1px solid rgba($forest, 0.2);
  text-decoration: none;
  color: inherit;
  transition: opacity 0.65s ease;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $orange;
    transition: width 0.4s ease;
  }

  &:hover {
    opacity: 0.7;
  }

  &:hover::after {
    width: 100%;
  }
}
