@use "@/styles/vars" as *;

.mediaWCaption {
  height: 100%;
  position: relative;
  width: 100%;
}

.media {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.caption {
  background-color: $forest;
  bottom: 0;
  color: $orange;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding: 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  @include x-small {
    font-size: 11px;
  }
}
