@use "@/styles/vars" as *;

.container {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 100px);
  position: relative;
  display: flex;
  padding: 100px 60px 50px 60px;

  @include lap-smaller {
    padding: 100px 20px 0px 20px;
    flex-direction: column;
  }
}

.column {
  &:first-of-type {
    width: 45%;
    height: calc(100vh - 150px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include lap-smaller {
      justify-content: flex-start;
      width: 100%;
      height: auto;
    }
  }

  &:last-of-type {
    width: 65%;
    margin-left: -5%;
    height: 100%;
    position: relative;

    @include lap-smaller {
      width: 100%;
      height: auto;
      margin-left: 0;
    }
  }
}

.column2 {
  padding-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;

  @include lap-smaller {
    padding-top: 40px;
    width: 100%;
  }
}

.cltWrap {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-left: 20%;

  @include lap-smaller {
    margin-left: 10%;
    svg {
      width: 120%;
    }
  }
}

.cltText {
  @include body1;
  position: absolute;
  top: 0;
  left: 70%;
  width: 100%;

  @include lap-smaller {
    top: 10%;
  }
}

.gluWrap {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-top: 60%;
  margin-left: 10%;

  @include lap-smaller {
    svg {
      width: 80%;
    }
  }
}

.gluText {
  @include body1;
  position: absolute;
  bottom: -10%;
  left: -20%;
  width: 100%;

  @include lap-smaller {
    bottom: 0px;
    left: -10%;
  }
}

.nltWrap {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-left: -30%;
  margin-top: -30%;
  @include lap-smaller {
    margin-left: 0;
    margin-top: -120%;
    svg {
      width: 90%;
    }
  }
}

.nltText {
  @include body1;
  position: absolute;
  bottom: 45%;
  right: 0;
  width: 100%;
  @include lap-smaller {
    bottom: 60%;
    width: 95%;
  }
}

.dltWrap {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: 10%;
  margin-left: -20%;
  @include lap-smaller {
    margin-top: 0;
    margin-left: -30%;
    svg {
      width: 90%;
    }
  }
}

.dltText {
  @include body1;
  position: absolute;
  bottom: 35%;
  left: 0;
  width: 100%;
}

.eyebrow {
  height: auto;
  @include eyebrow;
  text-transform: uppercase;
  color: $forest;
  margin-left: -15px;
  margin-bottom: 20px;
}

.headline {
  h3 {
    @include h1;
  }
  margin: 0;
  text-align: left;
  position: relative;
  width: 100%;
  height: auto;
  font-size: 30px;
}

.copy {
  width: 70%;
  height: auto;
  @include body1;

  @include lap-smaller {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}
