@use "@/styles/vars" as *;

.container {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 100px);
  position: relative;
  display: flex;
  padding: 100px 60px 50px 60px;

  @include lap-smaller {
    padding: 100px 20px 0px 20px;
    flex-direction: column;
  }
  @include tablet-and-lower {
    padding-bottom: 120px;
  }
  @include x-small {
    padding-top: 60px;
  }
}

.column {
  &:first-of-type {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 150px);
    justify-content: space-between;
    position: relative;
    width: $five-twelfths;
  
    @include lap-smaller {
      justify-content: flex-start;
      width: 100%;
      height: auto;
    }
  }

  &:last-of-type {
    width: $seven-twelfths;
    margin-left: -5%;
    height: 100%;
    position: relative;

    @include lap-smaller {
      width: 100%;
      height: auto;
      margin-left: 0;
    }
  }
}

.column2 {
  padding-top: -60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0px;

  @include lap-smaller {
    padding-top: 40px;
    width: 100%;
  }
  @include x-small {
    display: flex;
    flex-flow: row wrap;
  }
}

.cltWrap {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-left: -20%;
  margin-top: -50%;
  position: relative;
  @include lap-smaller {
    margin-left: -60px;
    margin-top: -180px;
    svg {
      width: 90%;
    }
  }
  @include tablet-and-lower {
    margin-left: 0;
    svg {
      width: 300px;
    }
  }
  @include x-small {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
    svg {
      width: 250px;
    }
  }
}

.cltText {
  @include body1;
  position: absolute;
  bottom: 160px;
  right: -60px;
  width: 100%;

  @include lap-smaller {
    bottom: 100px;
  }
  @include tablet-and-lower {
    right: 0px;
    bottom: 170px;
  }
  @include x-small {
    bottom: 0;
    display: flex;
    justify-content: center;
    position: relative;
    right: 0;
    top: -20px;
  }
}

.nltWrap {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-left: 15%;
  margin-top: 50%;
  @include lap-smaller {
    margin-left: 0%;
    margin-top: 30%;
    svg {
      width: 120%;
    }
  }
  @include tablet-and-lower {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 0px;
    svg {
      width: 300px;
    }
  }
  @include x-small {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
    svg {
      width: 250px;
    }
  }
}

.nltText {
  @include body1;
  position: absolute;
  bottom: 10%;
  right: 30%;
  width: 100%;
  @include lap-smaller {
    right: 0;
  }
  @include x-small {
    bottom: 0;
    display: flex;
    justify-content: center;
  }
}

.gluWrap {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-top: 0%;
  margin-left: 60%;
  position: relative;
  @include lap-smaller {
    margin-left: 80%;
    margin-top: -10%;
  }
  @include tablet-and-lower {
    margin-top: -30%;
    svg {
      width: 180px;
    }
  }
  @include x-small {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 0;
    margin-top: -30px;
    width: 100%;
    svg {
      width: 150px;
    }
  }
}

.gluText {
  @include body1;
  position: absolute;
  top: 30px;
  right: calc(-1 * (100% + 140px));
  width: auto;

  @include lap-smaller {
    right: calc(-1 * (100% + 280px));
  }
  @include x-small {
    position: relative;
    right: 0;
    top: 0px;
  }
}



.dltWrap {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: 10%;
  margin-left: -20%;
  @include lap-smaller {
    margin-left: -30%;
    svg {
      width: 90%;
    }
  }
  @include tablet-and-lower {
    margin-top: 15%;
    svg {
      width: 300px;
    }
  }
  @include x-small {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
    svg {
      width: 250px;
    }
  }
}

.dltText {
  @include body1;
  bottom: -30px;
  left: 30px;
  position: absolute;
  width: 100%;
  @include x-small {
    bottom: -30px;
    display: flex;
    left: 0;
    justify-content: center;
  }
}

.eyebrow {
  @include eyebrow;
  color: $forest;
  font-size: 18px;
  height: auto;
  margin-left: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;  
  div, span {
    padding-left: 0 !important;
  }
  @include x-small {
    font-size: 12px;
    padding-bottom: 10px;
  }
}

.headline {
  h3 {
    @include h1;
  }
  font-size: 30px;
  height: auto;
  margin: 0;
  position: relative;
  text-align: left;
  width: 100%;
  @include tablet-and-lower {
    width: $nine-twelfths;
  }
  @include x-small {
    width: 100%;
  }
}

.copy {
  @include body1;
  height: auto;
  width: $three-twelfths;

  @include lap-smaller {
    margin-top: 60px;
    width: $five-twelfths;
  }

  @include x-small {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}
