@use "@/styles/vars" as *;

.tabPanel {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;

  @include lap-smaller {
    flex-direction: column;
  }
}

.column {
  &:first-of-type {
    width: 40%;
    height: 100%;
    position: relative;
    background-color: $orange;
    padding: 100px 0px 100px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include lap-smaller {
      width: 100%;
    }
  }

  &:last-of-type {
    width: 60%;
    height: 100%;
    position: relative;
    background-color: $cream;

    @include lap-smaller {
      width: 100%;
    }
  }
}

.column2 {
  position: relative;

  @include lap-smaller {
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.eyebrow {
  width: 100%;
  height: auto;
  text-transform: uppercase;
  overflow: hidden;
  color: $forest;
  @include eyebrow;
}

.headline {
  margin-top: 20px;
  text-align: left;
  position: relative;
  width: 100%;
  height: auto;
  @include h2;
}

.copy {
  width: 100%;
  height: auto;
  @include body1;
}

.svgCircle {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 90%;
    height: auto;
    g {
      opacity: 0;
    }
  }
}

.stumpyWrapper {
  position: absolute;
  width: auto;
  max-width: 400px;
  height: 200px;

  .stumpy {
    width: 100px;
    height: 200px;
    transform: scale(0.2);
    opacity: 0;
  }

  .stumpyText {
    flex: 1;
    max-width: 200px;
    @include body1;
    text-transform: uppercase;
  }
}

.stumpyWrapper-0 {
  top: 65%;
  left: 5%;

  .stumpyText {
    top: 50%;
    transform: translateY(-20%);

    @include lap-smaller {
      top: 0;
      transform: translateY(-50%);
    }
  }

  @include lap-smaller {
    top: 60%;
    left: 5%;
  }
}

.stumpyWrapper-1 {
  top: 10%;
  left: 75%;
  width: 600px;
  transform: translateX(-50%);

  .stumpyText {
    transform: translate(50%, -110%);
    @include lap-smaller {
      transform: translate(50%, -200%);
    }
  }

  @include lap-smaller {
    top: 12%;
  }
}

.stumpyWrapper-2 {
  bottom: 10%;
  right: 0%;

  transform: translateX(50%);

  .stumpyText {
    max-width: 300px;
    transform: translate(-100%, -80%);

    @include lap-smaller {
      max-width: 190px;
      transform: translate(-60%, 80%);
    }
  }

  @include lap-smaller {
    right: 5%;
    transform: translate(50%, -25%);
  }
}

.finalCopy {
  width: 60%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  p {
    text-align: center;
    @include h2;
  }

  @include lap-smaller {
    width: 80%;
    left: 50%;
    transform: translate(-50%, -70%);
  }
}

.secondStumpWrapper {
  .stumpyWrapper-0 {
  }

  .stumpyWrapper-1 {
    top: 5%;

    @include lap-smaller {
      top: 12%;
    }
  }

  .stumpyWrapper-2 {
    transform: translateX(-80%);

    @include lap-smaller {
      right: 0;
      transform: translate(-20%, -25%);
    }
  }
}
