@use "@/styles/vars" as *;

.tabPanel {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;

  @include lap-smaller {
    flex-direction: column;
  }
}

.column {
  &:first-of-type {
    background-color: $orange;
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    padding: 100px 30px 100px 50px;
    position: relative;
    width: $six-twelfths;

    @include lap-smaller {
      width: 100%;
      padding: 50px 20px;
    }
    .eyebrow {
      @include eyebrow;
      & {
        color: $forest;
        height: auto;
        overflow: hidden;
        text-transform: uppercase;
        width: 100%;
      }
    }
    
    .headline {
      @include h2;
      text-align: left;
      width: 100%;
    }
    
    .copy {
      @include body2;
      & {  
        height: auto;
        padding-top: 30px;
        width: $three-twelfths;
      }
      @include lap-smaller {
        width: $five-twelfths;
      }
      @include x-small {
        width: $ten-twelfths;
      }
    }
  }
  
  
}
.column2 {
  background-color: $cream;
  height: 100%;
  position: relative;
  width: $six-twelfths;

  @include lap-smaller {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 200px;
    width: 100%;
  }
  @include x-small {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.svgCircle {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;

  svg {
    height: auto;
    width: $four-twelfths;
    g {
      opacity: 0;
    }
    @include lap-smaller {
      width: $seven-twelfths;
    }
  }
}

.stumpyWrapper {
  max-width: 400px;
  position: absolute;
  width: auto;
  .stumpy {
    height: 200px;
    max-width: 120px;
    transform: scale(0.2);
    opacity: 0;
    width: auto;   
  }
  .stumpyText {
    max-width: 300px;
    text-transform: uppercase;
    @include body2;
  }
}

.stumpyWrapper-0 {
  top: 45%;
  left: 5%;
  .stumpyText {
    top: 45%;
    transform: translateY(25%);
  }
  @include lap-smaller {
    top: 60%;
    left: 15%;
  }
}

.stumpyWrapper-1 {
  top: 2%;
  left: 45%;
  width: auto;
 
  .stumpyText {
    transform: translate(40%, -150%);
    width: 300px;
    @include lap-smaller {
      transform: translate(50%, -200%);
    }
  }
  @include lap-smaller {
    top: 13%;
  }
}

.stumpyWrapper-2 {
  bottom: 7%;
  right: 0%;
  transform: translateX(50%);

  .stumpyText {
    max-width: 300px;
    transform: translate(-100%, -80%);
  }
  [data-type="eyes-wrap"] {
    left: 26%;
    width: 28%;
  }

  @include lap-smaller {
    bottom: 15%;
    right: 15%;
  }
}

.finalCopy {
  width: 60%;
  height: auto;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -80%);
  text-align: center;

  p {
    text-align: center;
    @include h2;
  }

  @include lap-smaller {
    top: 50%;

  }
}

.secondStumpWrapper {
  .stumpy {
    height: 250px;
    max-width: 130px;
    [data-type="stump"] {
      height: 100%;
      max-width: 100%;
      width: auto;
    }
  }
  .stumpyWrapper-0 {
    .stumpy {
      height: 300px;
      max-width: 150px;
    }
    left: -5%;
    @include lap-smaller {
      left: 5%;
    }
  }

  .stumpyWrapper-1 {
    top: 0%;
    left: 78%;
    @include lap-smaller {
      top: 8%;
      left: 75%;
    }
  }

  .stumpyWrapper-2 {
    bottom: 15%;
    right: 5%;
    [data-type="eyes-wrap"] {
      left: 16%;
      width: 38%;
    }
    @include lap-smaller {
      bottom: 15%;
      right: 20%;
    }
  }
}
