@use "@/styles/vars" as *;

.tabPanel {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;

  @include lap-smaller {
    flex-direction: column;
  }
}

.column {
  &:first-of-type {
    background-color: $orange;
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    padding: 100px 30px 100px 50px;
    position: relative;
    width: $six-twelfths;

    @include lap-smaller {
      width: 100%;
      padding: 50px 20px;
    }
    .eyebrow {
      @include eyebrow;
      & {
        color: $forest;
        height: auto;
        overflow: hidden;
        text-transform: uppercase;
        width: 100%;
      }
      @include x-small {
        p {
          padding: 0 !important;
        }
      }
    }
    
    .headline {
      @include h2;
      text-align: left;
      width: 100%;
    }
    
    .copy {
      @include body2;
      & {  
        height: auto;
        padding-top: 30px;
        width: $three-twelfths;
      }
      @include lap-smaller {
        width: $five-twelfths;
      }
      @include x-small {
        width: $ten-twelfths;
      }
    }
  }
  
  
}
.column2 {
  background-color: $cream;
  height: 100%;
  position: relative;
  width: $six-twelfths;

  @include lap-smaller {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-top: 230px;
    padding-bottom: 200px;
    width: 100%;
  }
  @include x-small {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.svgCircle {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;

  svg {
    height: auto;
    width: $four-twelfths;
    g {
      opacity: 0;
    }
    @include lap-smaller {
      width: $seven-twelfths;
    }
  }
}

.stumpyWrapper {
  max-width: 400px;
  position: absolute;
  width: auto;
  .stumpy {
    height: 120px;
    max-width: 120px;
    transform: scale(0.2);
    opacity: 0;
    width: auto;   
    @include x-small {
      height: 100px;
      max-width: 70px;
    }
  }
  @include x-small {
    max-width: 300px;
  }
  .stumpyText {
    max-width: 300px;
    text-transform: uppercase;
    @include body2;
    @include tablet-and-lower {
      max-width: 200px;
    }
  }
}

.stumpyWrapper-0 {
  top: 45%;
  left: 5%;
  .stumpy {
    height: 150px;
  }
  [data-type="eyes-wrap"] {
    left: 25%;
    top: 45%;
    transform: translate(0%);
    width: 20%;
    @include x-small {
      left: 50%;
      top: 40%;
      width: 22%;
    }
  }
  .stumpyText {
    top: 45%;
    transform: translateY(25%);
  }
  @include lap-smaller {
    top: 60%;
    left: 15%;
  }
  @include tablet-and-lower {
    left: 10%;
  }

}

.stumpyWrapper-1 {
  top: 2%;
  left: 45%;
  width: auto;
  [data-type="eyes-wrap"] {
    left: 28%;
    top: 35%;
    transform: translate(0%, 0%);
    width: 24%;
    @include x-small {
      left: 38%;
      width: 34%;
    }
  }
  .stumpyText {
    width: 300px;
  }
  @include lap-smaller {
    top: 13%;
  }
  @include tablet-and-lower {
    top: 10%;
  }
  @include x-small {
    top: 15%;
  }
}

.stumpyWrapper-2 {
  bottom: 7%;
  right: 0%;
  transform: translateX(50%);
  .stumpy {
    height: 180px;
  }
  .stumpyText {
    transform: translate(-100%, -80%);
    @include tablet-and-lower {
      transform: translate(-100px, 0px);
    }
    @include x-small {
      transform: translate(-70px, 0px);
    }
  }
  [data-type="eyes-wrap"] {
    left: 8%;
    width: 24%;
    top: 27%;
    transform: translate(0%, 0%);
    @include x-small {
      left: 13%;
      width: 35%;
    }
  }

  @include lap-smaller {
    bottom: 15%;
    right: 15%;
  }
  @include tablet-and-lower {
    right: 10%;
  }
  @include x-small {
    right: 0%;
    .stumpy {
      height: 150px;
    }
  }
}

.finalCopy {
  width: 80%;
  height: auto;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -63%);
  text-align: center;
  .container {
    width: 100%;
  }
  p {
    text-align: center;
    @include h2;
  }

  @include lap-smaller {
    top: 50%;
    width: 60%;
  }
  @include tablet-and-lower {
    top: 52%;
    p {
      font-size: 32px;
    }
    
  }
  @include x-small {
    top: 47%;
    width: $seven-twelfths;
    p {
      font-size: 20px;
    }
  }
}

.secondStumpWrapper {
  .stumpy {
    height: 200px;
  }
  .stumpyWrapper-0 {
    left: -5%;
    [data-type="eyes-wrap"] {
      left: 36%;
      width: 22%;
      @include x-small {
        left: 66%;
        width: 30%;
      }
    }
    .stumpy {
      height: 200px;
    }
    
    @include lap-smaller {
      left: 5%;
      top: 68%;
    }
    
  }

  .stumpyWrapper-1 {
    top: 0%;
    left: 78%;
    .stumpy {
      height: 150px;
    }
    [data-type="eyes-wrap"] {
      left: 44%;
      width: 34%;
      top: 37%;
      transform: translate(0%, 0%);
      @include x-small {
        left: 57%;
        width: 50%;
      }
    }
    @include lap-smaller {
      top: 8%;
      left: 45%;
    }
    @include x-small {
      left: 43%;
    }
  }

  .stumpyWrapper-2 {
    bottom: 15%;
    right: 5%;
    [data-type="eyes-wrap"] {
      left: 16%;
      width: 38%;
      @include x-small {
        left: 18%;
        width: 43%;
      }
    }
    @include lap-smaller {
      bottom: 10%;
      right: 20%;
    }
  }
}
