@use "@/styles/vars" as *;

.footer {
  position: relative;
  width: 100%;
  height: auto;
  background: $forest;
  padding: 80px 0px;

  @include tablet-and-lower {
    padding: 40px 0px;
  }
}

.content {
  border-top: 4px solid $orange;
  margin: 0 auto;
  padding-top: 40px;
  @include grid-wrap;
  @include lap-smaller {
    padding: 60px 20px 20px 20px;
  }
  @include x-small {
    padding-top: 0;
  }
}

.newsletter {
  padding-top: 2rem;
  margin-bottom: 2rem;
  @include eight-twelfths;

  @include tablet-and-lower {
    @include full;
  }
}

.socialWrap {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  padding-bottom: 2rem;
  @include two-twelfths;

  @include tablet-and-lower {
    @include six-twelfths;
  }
}

.url {
  height: 40px;
  width: 40px;
  background: $cream;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 20px;
  }

  transition: background 0.2s ease;
  &:hover {
    background: $orange;
  }
}

.logo {
  margin-top: 2rem;
  svg {
    @include full;
    width: 100%;
    height: auto;
  }
  @include grid-wrap;
  @include lap-smaller {
    padding: 0 20px;
  }
}

.stumpyWrap {
  @include two-twelfths;
  & {
    align-items: center;
    display: flex;
    height: 250px;
    justify-content: center;
   
  }
  svg {
    width: 100%;
    height: auto;
  }
  [data-type="eyes-wrap"] {
    left: 16%;
    width: 40%;
    @include tablet-and-lower {
      left: 19%;
      width: 14%;
    }
    @include x-small {
      left: 11%;
      width: 34%;
    }
  }

  @include tablet-and-lower {
    display: block;
    height: 150px;
    @include six-twelfths;
    svg {
      width: 50%;
    }
  }
}
