@use "@/styles/vars" as *;

.footer {
  position: relative;
  width: 100%;
  height: auto;
  background: $forest;
  padding: 80px 0px;

  @include tablet-and-lower {
    padding: 40px 0px;
  }
}

.content {
  margin: 0 auto;

  border-top: 4px solid $orange;

  @include grid-wrap;
  padding-top: 40px;
}

.newsletter {
  padding-top: 2rem;
  margin-bottom: 2rem;
  @include eight-twelfths;

  @include tablet-and-lower {
    @include full;
  }
}

.socialWrap {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  padding-bottom: 2rem;
  @include two-twelfths;

  @include tablet-and-lower {
    @include six-twelfths;
  }
}

.url {
  height: 40px;
  width: 40px;
  background: $cream;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 20px;
  }

  transition: background 0.2s ease;
  &:hover {
    background: $orange;
  }
}

.logo {
  margin-top: 2rem;
  svg {
    @include full;
    width: 100%;
    height: auto;
  }
  @include grid-wrap;
}

.stumpyWrap {
  @include two-twelfths;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 100%;
    height: auto;
  }

  @include tablet-and-lower {
    @include six-twelfths;
    svg {
      width: 50%;
    }
  }
}
