@use "@/styles/vars" as *;

.missionContainer {
    padding: 100px 60px;
  @include lap-smaller {
    padding: 50px 20px;
  }
  @include phone {
    padding: 20px 10px;
  }
  h1 {
    width: $ten-twelfths;
    @include h1();
  }
}