@use "@/styles/vars" as *;

.stump,
.plank,
.tree {
  height: 100%;
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;

  svg {
    width: auto;
    height: 100%;
    position: relative;
  }

  // .eyes {
  //   position: absolute;
  //   top: 33%;
  //   left: 63%;
  //   transform: translateX(-50%);
  //   width: 36%;
  //   left: 0;
  //   right: 0;
  //   margin: 0 auto;
  // }
}

.tree {
  position: relative;
  svg {
    max-height: 100%;
  }
  .eyes {
    // margin-top: 10%;
    position: absolute;
    top: 45%;
    width: 30px;
  }
}
