@use "@/styles/vars" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 1000;
  transform: translateY(-100%);
  padding: 0 50px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.hamburger {
  border: none;
  background: $orange;
  cursor: pointer;
  padding: 15px 10px;
  z-index: 1001;

  span {
    display: block;
    width: 40px;
    height: 4px;
    background: black;
    position: relative;
    transition: all 0.3s;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: black;
      transition: all 0.3s;
    }

    &:before {
      left: 0;
      transform: translateY(-8px);
    }
    &:after {
      left: 0;
      transform: translateY(8px);
    }
  }

  &.open {
    background: $cream;
    span {
      background: transparent;

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background: $orange;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1000;

  width: 100%;
}

.stumpyWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 100%;
}

.stumpWrap {
  width: 40%;
  height: auto;
}

.titleWrap {
  margin-bottom: 20px;
  @include h2;
  text-align: center;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $cream;
}

.buttonWrap {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;

  a {
    height: auto;
    border-radius: 50px;
    span {
      @include h1;
      width: 100%;

      &.circle {
        width: 70px !important;
        height: 70px !important;
        border-radius: 50%;
        background: $forest;
      }
    }
  }
}

.socialWrap {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.url {
  height: 90px !important;
  width: 90px;
  background: $forest;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    stroke: $cream;
    width: 50px;
    height: 50px;
  }

  transition: background 0.2s ease;
  &:hover {
    background: $cream;
    svg {
      // fill: $forest;
      stroke: $forest;
    }
  }
}
