@use "@/styles/vars" as *;

.header {
  align-items: center;
  background-color: $white;
  display: flex;
  height: 80px;
  justify-content: space-between;
  left: 0;
  padding: 0 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;

  @include lap-smaller {
    height: 60px;
    padding: 0 20px;
  }
  @include tablet-and-lower {
    height: 60px;
    padding: 0 10px;
  }
}

.logo {
  transform: translateY(-100px);
  svg path {
    transition: fill 0.25s ease-in-out;
  }
  &:hover {
    svg {
      path {
        fill: $orange;
      }
    }
  }
  @include lap-smaller {
    svg {
      width: 150px;
    }
  }
  @include mobile {
    svg {
      width: 120px;
    }
  }
}
.mainNav {
  display: inline;
  @include tablet-and-lower {
    display: none;
  }
  ul {
    display: inline;
    list-style: none;
    li {
      display: inline;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.mobileNav {
  display: none;
  z-index: 10000;
  @include tablet-and-lower {
    display: block;
  }
}
.hamburger {
  border: none;
  background: $orange;
  cursor: pointer;
  padding: 20px 10px;
  z-index: 1001;
  &:focus-visible {
    outline: none;
  }
  span {
    display: block;
    width: 40px;
    height: 4px;
    background: black;
    position: relative;
    transition: all 0.3s;
    @include mobile {
      width: 33px;
    }
   
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: black;
      transition: all 0.3s;
    }

    &:before {
      left: 0;
      transform: translateY(-10px);
    }
    &:after {
      left: 0;
      transform: translateY(10px);
    }
  }
  &:hover {
    span {
      &:before {
        left: 0;
        transform: translateY(-12px);
      }
      &:after {
        left: 0;
        transform: translateY(12px);
      }
    }
  }

  &.open {
    background: $cream;
    span {
      background: transparent;

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.menu {
  background: $orange;
  display: flex;
  flex-direction: row;
  height: 0;
  left: 0;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  @include tablet-and-lower {
    align-items: center;
    flex-direction: column;
  }
}

.stumpyWrap {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-start;
  padding-left: 60px;
  width: 50%;
  @include lap-smaller {
    width: $seven-twelfths;
  }
  @include tablet-and-lower {
    padding-left: 0;
    margin-left: -20%;
  }
  @include x-small {
    flex-flow: column;
    margin-left: 0;
    width: $ten-twelfths;
  }
}

.stumpWrap {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  @include x-small {
    width: 46%;
  }
}

.titleWrap {
  @include h2;
  &{
    align-items: center;
    background: $cream;
    display: flex;
    height: auto;
    justify-content: center;
    margin: -150px 20px 20px 0px;
    max-width: 433px;
    padding: 10px;
    width: $two-twelfths;
  }
  @include lap-smaller {
    width: $three-twelfths;
  }
  @include x-small {
    margin: 90px 0 20px 0;
    width: $ten-twelfths;
  }
}

.buttonWrap {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 100%;
  justify-content: center;
  width: 50%;
  @include lap-smaller {
    width: $ten-twelfths;
  }
  @include tablet-and-lower {
    align-items: center;
    gap: 30px;
  }
  a {
    height: auto;
    border-radius: 50px;
    span {
      width: 100%;
      @include h1;
    
      &.circle {
        width: 70px !important;
        height: 70px !important;
        border-radius: 50%;
        background: $forest;
      }
    }
  }
  span {
    height: auto;
    width: 100%;
    @include h1;
  
    &.circle {
      width: 70px !important;
      height: 70px !important;
      border-radius: 50%;
      background: $forest;
    }
  }
}

.socialWrap {
  align-items: center;
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 50px;
  @include tablet-and-lower {
    gap: 30px;
    margin-top: 10px;
  }
}

.url {
  align-items: center;
  background: $forest;
  border-radius: 50% !important;
  display: flex;
  height: $one-twelfth !important;
  justify-content: center;
  min-width: 50px;
  min-height: 50px;
  width: $one-twelfth;
  transition: background 0.2s ease;
  svg {
    width: 50%;
    height: 50%;
    path {
      fill: $cream;
    }
  }

  &:hover {
    background: $cream;
    svg {
      path {
        fill: $forest;
      }
    }
  }
}
