@use "@/styles/vars" as *;

.takeActionPageWrap {
  @include grid-wrap;
  .topContainer {
    grid-column-start: 1;
    grid-column-end: 13;
    min-height: 100vh;
    position: relative;
    .mediaWCaptionInner {
      bottom: 0;
      background-color: #ff752a;
      height: 100%;
      left: 0;
      mix-blend-mode: multiply;
      position: absolute;
      width: 100%;  
    }
    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
    .headline {
      align-items: center;
      display: flex;
      bottom: 30px;
      height: auto;
      justify-content: center;
      left: 30px;
      position: absolute;
      right: 30px;
      top: 30px;
      h1 {
        line-height: 1.4;
        width: 70%;
         @include h1;
      }
      @include lap-smaller {
        width: calc(100% - 60px);
      }
      @include x-small {
        left: 10px;
        width: calc(100% - 20px);
      }
    }
  }
  .orgGroupsSection {
    display: flex;
    flex-flow: column;
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 60px 0;
    h2 {
      width: 70%;
      @include h1;
    }
  }
  .orgDrawer {
    margin: 0 auto;
    padding: 60px 0;
    width: $ten-twelfths;
    .orgDrawerItem {
      font-size: 20pt;
      .titleContainer {
        align-items: center;
        border-bottom: 2px solid $black;
        display: flex;
        justify-content: space-between;
        padding: 10px 5px;
        transition: background-color 0.25s ease-in-out;
        width: 100%;
        .title {
          font-size: 20pt;
          line-height: 1;
          width: calc(100% - 60px);
          @include body2;
        }
        .arrowContainer {
          align-items: center;
          background-color: $orange;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          height: 40px;
          transition: background-color 0.25s ease-in-out;
          width: 40px;
          .arrow {
            border: solid $black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 6px;
            margin-top: -3px;
            transition: all 0.25s ease-in-out;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
        }
        &:hover {
          background-color: $orange;
          cursor: pointer;
          .arrowContainer {
            background-color: $white;
          }
        }
        &.active {
          .arrowContainer {
            .arrow {
              margin-top: 3px;
              transform: rotate(-135deg);
              -webkit-transform: rotate(-135deg);
            }
          }
        }
      }
      .organizations {
        .orgList {
          display: flex;
          flex-flow: column;
          list-style: none;
          max-height: 0;
          margin: 0;
          overflow: hidden;
          padding: 0;
          transition: all .5s ease-in-out;
          .orgItem {
            font-size: 17pt;
            padding: 10px 0;
            &:first-of-type {
              padding-top: 20px;
            }
            a {
              border-bottom: 1px solid $black;
            }
          }
        }
        &.active {
          .orgList {
            height: auto;
            max-height: 1500px;
            opacity: 1;
          }
         
        }
      }
    }
  }
  .subcommitteeSection {
    display: flex;
    flex-flow: column;
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 60px 0;
    .subHead {
      padding: 0 0 90px 0;
    }
    h2 {
      width: 70%;
      @include h1;
    }
    .subList {
      align-items: flex-start;
      column-gap: $one-twelfth;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;

      .subItem {
        padding-bottom: 30px;
        width: $four-twelfths;
        .subTitle {
          border-bottom: 2px solid $black;
          padding-bottom: 10px;
          @include h3;
        }
        .description {
          font-size: 16pt;
        }
      }
    }
  }
  .stumpyWrap {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 60px 0;
    width: $eight-twelfths;
   
  }
  .stumpyText {
    max-width: 300px;
    width: $five-twelfths;
    padding-left: 20px;
    span {
      display: block;
      padding: 5px 0 5px 0;
    }
  }
}
