@use "@/styles/vars" as *;

.container {
  position: relative;
  min-height: 100vh;
  padding: 80px 60px;
  overflow: hidden;
  margin-top: 150px;

  @include lap-smaller {
    padding: 10px 20px 80px 20px;
    margin-top: 10px;
  }
}

.eyebrow {
  @include eyebrow;
  color: $forest;
  margin-bottom: 4rem;
  text-transform: uppercase;
   p {
    padding-left: 0;
   }
   span { 
    padding-left: 0;
   }
}

.content {
  position: relative;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:nth-child(odd) {
    .imageWrapper {
      left: 0;
    }
  }

  &:nth-child(even) {
    .imageWrapper {
      right: 0;
    }
  }
}

.textBlock {
  position: relative;
  width: 60%;
  z-index: 1;
  margin: 80px auto;
  @include h1;

  @include lap-smaller {
    width: 90%;
    margin: 0px 0px 40px 0px;
  }
  @include x-small {
    width: 100%;
     p {
      padding: 0;
     }
  }
}

.imageWrapper {
  position: absolute;
  width: 40%;
  height: 100%;
  z-index: 0;
  overflow: hidden;

  @include lap-smaller {
    width: 60vw;
    height: 50vw;
    margin-top: 10%;
  }
  @include x-small {
    margin-top: 0%;
  }
}

.imageBlock {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.stumpyBlock {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 150px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  z-index: 100;
  @include lap-smaller {
    width: 50%;
    height: auto;
    position: relative;
    margin-bottom: 10%;
    margin-right: -50%;
  }
  @include x-small {
    right: 10px;
  }
}

.stumpyWrapper {
  height: 250px;
  max-width: 110px;
  svg {
    height: 100%;
    width: auto;
    
    &[data-type="eyes"] {
      height: auto;
      width: 100%;
    }
  }
  [data-type="eyes-wrap"] {
    left: 16%;
    width: 40%;
  }
  @include lap-smaller {
    height: 300px;
  }
 
  @include tablet-and-lower{
    height: 200px;
  }
  @include x-small {
    height: 150px;
  }
}

.stumpyText {
  @include body1;
  display: flex;
  justify-content: flex-end;
  
  width: calc(100% - 150px);
  @include tablet-and-lower {
    width: calc(100% - 50px);
  }
}

.mediaWCaption {
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.stumpyContainer {
  position: relative;
  z-index: 2;
  margin-top: 4rem;
}

.stumpyWrap {
  margin-bottom: 4rem;

  height: 150px;
  width: 110px;

  &:last-child {
    margin-bottom: 0;
  }
}

.stumpyContent {
  display: flex;
  align-items: center;
  gap: 10px;
}
