@use "@/styles/vars" as *;

.padWrap {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 100px 60px 50px 60px;
  margin-top: 150px;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background: $orange;
}

.tabPanel {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.chartContainer {
  width: 190px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  padding: 2rem;
}

.contentContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.chart {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.chartLabel {
  @include h3;
}

.chartBarItemWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10rem;
  color: $cream;
  svg {
    line {
      stroke: $cream;
      fill: $cream;
    }
  }
}

.mediaWCaption {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.mediaWCaptionInner {
  position: absolute;
  background: $orange;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sqFtContainer {
  position: absolute;
  bottom: 20%;
  right: 40px;
  width: auto;
  height: 130px;
  padding: 0 2rem;

  background: $cream;
  color: $black;

  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  overflow: hidden;

  @include h3;
  text-transform: uppercase;
}

.sqFtContainerInner {
  position: relative;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 120px;
  line-height: 1;
}

.eyebrow {
  position: absolute;
  top: 50px;
  left: 57px;
  width: 800px;
  height: auto;

  h2 {
    text-transform: uppercase;
    @include eyebrow;
    color: $cream;
  }
}

.headline {
  position: absolute;
  top: 100px;
  left: 80px;
  width: 800px;
  height: auto;
  font-size: 50px;
  @include h1;
}

.copy {
  position: absolute;
  bottom: 150px;
  left: 80px;
  width: 500px;
  height: auto;
  font-size: 20px;
  @include body1;
}

.endCopy {
  position: absolute;
  top: 150px;
  left: 20px;
  width: calc(100% - 40px);
  height: auto;
  font-size: 20px;
  @include h3;
}

.stumpyWrap {
  position: absolute;
  top: 30%;
  left: 15%;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.stumpy {
  transform: scale(0);
  width: 100px;
  height: auto;
}

.stumpyText {
  width: calc(100% - 100px);
  @include body1;
}
