@use "@/styles/vars" as *;

.padWrap {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 90px 50px 30px 50px;

  @include tablet-and-lower {
    padding: 80px 20px 40px 20px;
    margin-top: 30px;
  }

  @include phone {
    margin-top: 30px;
    padding: 50px 10px 40px 10px;
  }
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background: $orange;
}

.tabPanel {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.chartContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  justify-content: space-between;
  padding: 2rem;
  width: 170px;
  @include lap-smaller {
    padding: 1rem;
    width: 100px;
  }
  @include x-small {
    padding: 0.5rem;
    width: 20px;
  }
}

.contentContainer {
  height: 100%;
  position: relative;
  width: 100%;
}

.chart {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.chartLabel {
  @include h3;
  @include x-small {
    font-size: 11px;
    transform: rotate(-90deg);
  }
}

.chartBarItemWrapper {
  align-items: center;
  color: $cream;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  &:last-of-type {
    height: auto;
  }
}

.divider {
  width: 2px;
  height: 50%;
  background-color: $cream;
  margin: auto;
}

.dividerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
}

.mediaWCaption {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.mediaWCaptionInner {
  position: absolute;
  background: $orange;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sqFtContainer {
  @include h3;
  &{
    align-items: flex-end;
    background: $cream;
    bottom: 20%;
    color: $black;
    display: flex;
    height: 130px;
    justify-content: space-around;
    overflow: hidden;
    position: absolute;
    padding: 0 4rem 0 1rem;
    right: 40px;
    text-transform: uppercase;
    width: auto;
  }
  p {
    margin-bottom: 10px;
  }
  @include lap-smaller {
    height: 130px;
    padding: 0 10px;
    right: 10px;
    top: 70%;
  }
  @include tablet-and-lower {
    right: 30px;
  }

  @include phone {
    height: 80px;
    padding: 0 10px;
  }
  @include x-small {
    height: 60px;
  }
}

.sqFtContainerInner {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  font-size: 120px;
  line-height: 130px;
  height: 100%;
  padding-right: 30px;
  position: relative;
  width: 180px;

  @include phone {
    font-size: 60px;
    line-height: 80px;
    width: 80%;
  }
  @include tablet-and-lower {
    width: 120px;
  }
  @include x-small {
    padding-right: 15px;
    width: 40%;
  }
}

.eyebrow {
  height: auto;
  left: 0px;
  position: absolute;
  top: 50px;
  width: 800px;

  h2 {
    @include eyebrow;
    color: $cream;
    text-transform: uppercase;
  }

  @include lap-smaller {
    left: 0;
    width: 100%;
    top: 20px;
  }
  @include tablet-and-lower {
    top: 60px;
    left: 15px;
  }
  @include x-small {
    top: 30px;
  }
}

.headline {
  @include h1;
  height: auto;
  left: 0px;
  position: absolute;
  top: 110px;
  width: 800px;
  @include lap-smaller {
    width: 90%;
    top: 60px;
    left: 20px;
  }
  @include tablet-and-lower {
    top: 100px;
  }
  @include x-small {
    left: 15px;
    top: 60px;
  }
}

.copy {
  @include body2;
  & {
    bottom: 100px;
    height: auto;
    left: 0px;
    position: absolute;
    width: $three-twelfths;
  }
  @include lap-smaller {
    width: $six-twelfths;
  }
  @include tablet-and-lower {
    bottom: 210px;
    left: 20px;
  }
  @include x-small {
    bottom: 60px;
    left: 10px;
    width: $nine-twelfths;
  }
}

.endCopy {
  @include body2;
  & {
    bottom: 50px;
    height: auto;
    left: 20px;
    position: absolute;
    width: $four-twelfths;
  }
  @include lap-smaller {
    bottom: 200px;
  }
  @include tablet-and-lower {
    width: $seven-twelfths;
  }
  @include x-small {
    left: 0;
    bottom: 30px;
    width: $nine-twelfths;
  }
}

.stumpyWrap {
  position: absolute;
  top: 30%;
  left: 15%;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;

  @include x-small {
    left: 5%;
    top: 20%;
    width: 90%;
  }
}

.stumpy {
  transform: scale(0);
  width: 100px;
  height: auto;

  @include lap-smaller {
    width: 140px;
  }
  [data-type="eyes-wrap"] {
    left: 16%;
    width: 40%;
  }
}

.stumpyText {
  width: calc(100% - 100px);
  @include body1;

  @include lap-smaller {
    width: calc(100% - 80px);
  }
}
