@use "@/styles/vars" as *;

.wrap {
  color: $cream;
  display: flex;
  flex-direction: column;
  gap: 5px;
  h3 {
    @include h1;
    & {
      margin: 0;
      padding: 0;
    }
   
  }
  p {
    margin-top: 10px;
    @include body2;

  }
}

.newsletter {
  width: 100%;
  p {
    color: $cream;
  }
  label {
    width: 70%;
    @include x-small {
      width: 100%;
    }
  }
  input {
    border: none;
    background: $orange;
    color: $forest;
    display: block;
    margin-top: 5px;
    padding: 7px 20px;
    width: 100%;
    &::placeholder {
      color: $forest;
    }
    @include h3;
  
    @include mobile() {
      max-width: 100%;
      font-size: 20px;
      line-height: 20px;
    }
  }

  .form {
    align-items: flex-end;
    display: flex;
    gap: 5px;
    @include x-small {
      align-items: flex-end;
      flex-flow: column;
      input {
        width: 100%;
      }
    }
    button {
      background: transparent !important;
      color: $cream !important;
      @include x-small {
        max-width: 150px;
        margin-top: 10px;
      }
    }
  }
}
