// MEDIA QUERIES
$phone-vertical: "screen and (max-width: 420px)";
$phone: "screen and (max-width: 640px)";
$tablet-and-lower: "screen and (max-width: 768px)";
$tablet: "screen and (min-width: 641px) and (max-width: 1007px)";
$tablet-and-up: "screen and (min-width: 641px)";
$pocket: "screen and (max-width: 1007px)";
$lap-smaller: "screen and (max-width: 1080px)";
$lap-small: "screen and (max-width: 1080px) and (min-width: 768px)";
$lap: "screen and (min-width: 1008px) and (max-width: 1239px)";
$lap-and-up: "screen and (min-width: 1008px)";
$desk: "screen and (min-width: 1240px)";
$desk-and-down: "screen and (max-width: 1270px)";
$widescreen: "screen and (min-width: 1500px)";
$custom-nav: "screen and (max-width: 970px)";

// COLORS
$orange: #ff752a;
$cream: #f0f5ea;
$forest: #343516;
$black: #343516;
$white: #ffffff;

@mixin phone() {
  @media only screen and (max-width: 640px) {
    @content;
  }
}

@mixin mobile() {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet-and-lower() {
  @media only screen and (max-width: 820px) {
    @content;
  }
}

@mixin lap-small() {
  @media only screen and (max-width: 1080px) and (min-width: 768px) {
    @content;
  }
}

@mixin lap-smaller() {
  @media only screen and (max-width: 1080px) {
    @content;
  }
}

@mixin widescreen() {
  @media only screen and (min-width: 1500px) {
    @content;
  }
}
