// COLORS
$orange: #ff752a;
$cream: #f0f5ea;
$forest: #343516;
$black: #343516;
$white: #F0F5EA;

@mixin phone() {
  @media only screen and (max-width: 900px) {
    @content;
  }
}

@mixin x-small() {
  @media only screen and (max-width: 420px) {
    @content;
  }
}

@mixin mobile() {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet-and-lower() {
  @media only screen and (max-width: 820px) {
    @content;
  }
}


@mixin medium() {
  @media only screen and (max-width: 1439px) {
    @content;
  }
}

@mixin lap-small() {
  @media only screen and (max-width: 1080px) and (min-width: 768px) {
    @content;
  }
}

@mixin lap-smaller() {
  @media only screen and (max-width: 1080px) {
    @content;
  }
}

@mixin widescreen() {
  @media only screen and (min-width: 1600px) {
    @content;
  }
}

// GRID
$one-twelfth: calc(100vw / 12);
$two-twelfths: calc(100vw * 2 / 12);
$three-twelfths: calc(100vw * 3 / 12);
$four-twelfths: calc(100vw * 4 / 12);
$five-twelfths: calc(100vw * 5 / 12);
$six-twelfths: calc(100vw * 6 / 12);
$seven-twelfths: calc(100vw * 7 / 12);
$eight-twelfths: calc(100vw * 8 / 12);
$nine-twelfths: calc(100vw * 9 / 12);
$ten-twelfths: calc(100vw * 10 / 12);
$eleven-twelfths: calc(100vw * 11 / 12);
$full: 100%;

@mixin grid-wrap {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10;
  grid-row-gap: 0;
  padding: 0 50px;

  @include tablet-and-lower {
    padding: 0 20px;
  }

  @include phone {
    padding: 0 10px;
  }
}

@mixin one-twelfth {
  grid-column: span 1;
}
@mixin two-twelfths {
  grid-column: span 2;
}
@mixin three-twelfths {
  grid-column: span 3;
}
@mixin four-twelfths {
  grid-column: span 4;
}
@mixin five-twelfths {
  grid-column: span 5;
}
@mixin six-twelfths {
  grid-column: span 6;
}
@mixin seven-twelfths {
  grid-column: span 7;
}
@mixin eight-twelfths {
  grid-column: span 8;
}
@mixin nine-twelfths {
  grid-column: span 9;
}
@mixin ten-twelfths {
  grid-column: span 10;
}
@mixin eleven-twelfths {
  grid-column: span 11;
}
@mixin full {
  grid-column: span 12;
}

// TYPOGRAPHY
$font-greed-narrow: var(--font-greed-narrow), sans-serif;
$font-greed-standard: var(--font-greed-standard), sans-serif;

@mixin h1 {
  font-size: 64px;
  line-height: 1;
  font-family: $font-greed-standard;
  font-weight: 400;
  @include tablet-and-lower {
    font-size: 40px;
  }
  @include x-small() {
    font-size: 30px;
  }
}

@mixin h2 {
  font-size: 40px;
  line-height: 1.1;
  font-family: $font-greed-standard;
  font-weight: 400;
  @include tablet-and-lower {
    font-size: 32px;
  }
  @include phone {
    font-size: 24px;
  }
}

@mixin h3 {
  font-size: 28px;
  line-height: 1;
  font-family: $font-greed-standard;
  font-weight: 400;
  @include tablet-and-lower {
    font-size: 24px;
  }
  @include phone {
    font-size: 25px;
  }
  @include x-small {
    font-size: 18px;
  }
}

@mixin eyebrow {
  font-size: 24px;
  line-height: 1;
  font-family: $font-greed-narrow;
  font-weight: 450;
  @include tablet-and-lower {
    font-size: 20px;
  }
}

@mixin body1 {
  font-size: 18px;
  font-family: $font-greed-standard;
  font-weight: 400;
  line-height: 1;
  @include tablet-and-lower {
    font-size: 16px;
  }
 
  @include x-small {
    font-size: 18px;
  }
}

@mixin body2 {
  font-size: 20px;
  line-height: 1;
  font-family: $font-greed-narrow;
  font-weight: 400;
  @include tablet-and-lower {
    font-size: 16px;
  }
}
